
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Website About Us Page HTML CSS</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<section class="about-us">
  <div class="about">
    <img src="girl.jpg" class="pic" />
    <div class="text">
      <h2>About Us</h2>
      <h5>Front-end Developer & <span>Designer</span></h5>
      <p>Welcome to Wallet Tracker, where we empower individuals and businesses to take full control of their finances. Our mission is simple: to provide a seamless and intuitive platform that helps you track, manage, and optimize your transactions with ease.

        Founded by a team of passionate tech enthusiasts and finance experts, [Your App Name] was created to address the growing need for transparency and simplicity in financial management. We understand that in today’s fast-paced world, keeping track of every dollar spent and earned can be overwhelming. That's why we've designed our application to be user-friendly, efficient, and packed with features that make financial tracking a breeze.
      <div class="data">
        <a href="#" class="hire">Hire Me</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>