<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance Tracker_Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>

</style>
<body>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
    <br><br><br>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Please fill the details below to create an account</p>

            <form method="post" action="/user/registerUser" th:object="${user}">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="username" id="username" class="form-control" placeholder="Full name" type="text" th:field="${user.username}">
                    <p th:if="${#fields.hasErrors('username')}" th:errorclass="text-danger" th:errors="${user.username}"></p>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" id="email" class="form-control" placeholder="Email address" type="email" th:field="${user.email}">
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="${user.email}"></p>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" class="form-control" id="password" placeholder="Create password" type="password" th:field="${user.password}">
                    <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="${user.password}"></p>
                </div> <!-- form-group// -->

                <!-- Uncomment and modify this section if you add confirmPassword field to your User class -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Repeat password" type="password" th:field="*{confirmPassword}">
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a href="/user/login">Log In</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->

<br><br>

</body>
</html>
